
/* menu */
.nav-link{
  color: bisque !important;
   font-weight: 600 !important;
}
.nav-link:hover{
  color: rgb(61, 39, 39) !important;
}
.active{
  color: rgb(61, 39, 39) !important;

}

/* carusell */
.karusel{
  width: 100%;
  min-height: calc(100vh - 56px);
}
.carousel-item{
  width: 100%;
  height:100vh;
}
.carousel-item > img{
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}