body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}


#bg{
  background-color: rgb(29, 136, 181);
}
*, .container-fluid, .col-lg-6{
  margin: 0px;
  padding: 0px;
}
